.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  width: 100%;
  position: fixed; 
  bottom: 0;
  left: 0;
}

.centered {
  display: flex;
  flex-direction: row;
  text-align: justify;
  justify-content: center;
  margin: 15px 0px
  
}

.shopDiv {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0px 5%
    
    
}

.card {
  margin: 10px;
  width: 200px;
}

.drawerLink {
  width: 100%;
}

.product-list {
  max-height: 65%;
  overflow-y: scroll
}

.cart-list {
  overflow-y: hidden;
}

.checkout-list {
  height: 100%;
  overflow-y: hidden;
}

.modal-form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.modal-input {
  width: 60%;
  margin-bottom: 8px;
}

.modal-button {
  width: 40%;
  align-self: center;
}

.form-error-text {
  color: red;
  width: 60%
}

.drawerLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 5px 0px;
}



.MuiAppBar-colorPrimary, .modal-button {
  color: whitesmoke !important;
  background-color: #538D22 !important;
}

.modal-button {
  font-weight: bold !important;
  margin-top: 10px !important;
}


.login-button {
  color: whitesmoke !important;
  font-weight: bold !important;
  border-radius: 25px !important;
  margin: 0px 3px !important;
  padding: 0 20px !important;
}



body {
  background-color: #DDF4CB !important
}


.shop-title {
  color: #538D22;
  font-weight: bolder;
  font-size: 2em;
}