.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.footer {
  width: 100%;
  position: fixed; 
  bottom: 0;
  left: 0;
}

.centered {
  display: flex;
  flex-direction: row;
  text-align: justify;
  justify-content: center;
  margin: 15px 0px
  
}

.shopDiv {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0px 5%
    
    
}

@media only screen and (max-width: 550px) {
  .shopDiv {
    justify-content: center
  }
}

.card {
  margin: 10px;
  width: 200px;
}

.drawerLink {
  width: 100%;
}

.product-list {
  max-height: 65%;
  overflow-y: scroll
}

.cart-list {
  overflow-y: hidden;
}

.checkout-list {
  height: 100%;
  overflow-y: hidden;
}

.modal-form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.modal-input {
  width: 60%;
  margin-bottom: 8px;
}

.modal-button {
  width: 40%;
  align-self: center;
}

.form-error-text {
  color: red;
  width: 60%
}

.drawerLink {
  text-decoration: none;
  color: #709500;
  font-weight: bold;
  margin: 5px 0px;
}



#header-bar, .modal-button {
  color: whitesmoke !important;
  background-color: white !important;
  background-image: linear-gradient(to right, rgba(109, 179, 34, 1), rgba(181, 234, 81, 0.8)) ;
}

#footer-bar { background-image: linear-gradient(to bottom, rgba(181, 234, 81, 0.8), rgba( 109, 179, 34, 1)) }

.modal-button {
  font-weight: bold !important;
  margin-top: 10px !important;
}


.login-button {
  
  color: #709500 !important;
  font-weight: bold !important;
  border-radius: 25px !important;
  margin: 0px 3px !important;
  padding: 0 20px !important;
}

.shopping-cart-icon , .mobile-dot-menu, .account-circle, .profile-menu-button{
  color: #709500 !important;
}

.profile-menu-button {
  font-weight: bold !important;
}

.mobile-login {

   background-image: linear-gradient(to right, rgba(181, 222, 104, 1) ,  rgba(192,234,113, 1) ) !important;
}

.close-icon {
  color: white;
}

body {
  background-color: whitesmoke!important
}


.shop-title {
  color: rgba(109, 179, 34, 1);
  font-weight: bolder;
  font-size: 2em;
}

.shop-icons {
  color: #538D22
}

#drawer-div, #shopping-cart-div{
  
  height: 100%;
 
}



.list-topper-item {
 
  background-image: linear-gradient(to right, rgba(109, 179, 34, 1), rgba(181, 234, 81, 0.8));
  color: whitesmoke;
}

.MuiList-padding{
  padding-top: 0 !important;
  padding-bottom: 0 !important

}

.shopping-cart-item-image {

  background-size: contain !important;
}
.quantity-form {
  max-width: 15%;
}

.quantity-input {
  max-width: 15%
}